<!--コメントについての記述-->
  <table class="table table-hover">
    <% post_movie.post_comments.each do |post_comment| %>
    <tbody>
      <tr>
        <td>
          <%= post_comment.customer.name %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %> <%= post_comment.comment %>
          <% if post_comment.customer == current_customer %>
            <%= link_to "削除", post_movie_post_comment_path(post_comment.post_movie, post_comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "text-danger", remote:true, data: {"turbolinks" => false} %>
          <% elsif admin_signed_in? %>
            <%= link_to "削除", post_movie_post_comment_path(post_comment.post_movie, post_comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "text-danger", remote:true, data: {"turbolinks" => false} %>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>